@import 'src/styles/variables';

.wrapper {
	margin: $gapMedium;
}

.title {
	@include subtitle;
	margin-bottom: $gapSmall;
}

.back-to-login {
	font-family: $lufga;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	color: $secondaryBase;
}

.form-field {
	margin-top: $gapBase;
}

.button {
	margin: $gapBase 0;
}

.description {
	margin-top: $gapSmall;
	font-family: $lufga;
	font-size: 16px;
	font-weight: 400;
}
