@import 'src/styles/variables';

.label {
	font-family: $lufga;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	text-transform: capitalize;
	color: $neutral600;
	margin-bottom: $gapSmall;
}

.error {
	font-family: $lufga;
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	color: $errorBase;
	margin-bottom: $gapSmall;
	text-transform: capitalize;
}

.success {
	font-family: $lufga;
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	color: $successBase;
	margin-bottom: $gapSmall;
	text-transform: capitalize;
}

.infoWrapper {
	display: flex;
	& > svg {
		margin-right: $gapXSmall;
	}
	.error {
		--color: #{$errorBase};
	}
	.success {
		--color: #{$successBase};
	}
}
