@use 'sass:math';

// @mixin bit-title {
// 	font-family: $lufga;
// 	font-weight: bold;
// 	font-style: italic;
// }

@mixin title-medium {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

@mixin title-small {
	font-size: 12px;
	color: $grey;
	letter-spacing: 0.5px;
}

@mixin mouse {
	@media (pointer: fine) {
		@content;
	}
}

@mixin touch {
	@media (pointer: coarse), (pointer: none) {
		@content;
	}
}

@function hexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

// Grille fluide
@mixin grid {
	margin: 0 $gapMedium;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: $gapBase;
}
