@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-MediumItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-BoldItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Italic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-ExtraBoldItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-ExtraBold.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Thin.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Black.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Regular.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Light.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-LightItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-ExtraLight.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Bold.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-ThinItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-SemiBoldItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-Medium.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-BlackItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-SemiBold.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lufga';
	src: url('fonts/lufga/subset-Lufga-ExtraLightItalic.woff2') format('woff2'),
		url('fonts/lufga/subset-Lufga-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
