@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-BoldItalic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit.woff2') format('woff2'),
		url('/fonts/subset-Larsseit.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-ThinItalic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-Bold.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-Thin.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-ExtraBold.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-Light.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-ExtraBoldItalic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-Italic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-LightItalic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-Medium.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Larsseit';
	src: url('/fonts/subset-Larsseit-MediumItalic.woff2') format('woff2'),
		url('/fonts/subset-Larsseit-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-BoldItalic.woff2') format('woff2'),
		url('/fonts/subset-Trash-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-Light.woff2') format('woff2'),
		url('/fonts/subset-Trash-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-Regular.woff2') format('woff2'),
		url('/fonts/subset-Trash-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-Bold.woff2') format('woff2'),
		url('/fonts/subset-Trash-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-Italic.woff2') format('woff2'),
		url('/fonts/subset-Trash-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Trash';
	src: url('/fonts/subset-Trash-Medium.woff2') format('woff2'),
		url('/fonts/subset-Trash-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}
