@import 'src/styles/variables';

.input {
	height: 46px;
	width: 100%;
	padding: 12px $gapSmall;
	display: flex;
	flex-direction: row;
	align-items: center;
	::placeholder {
		color: $neutral600;
	}
	color: $neutralBlack;
	font-size: 16px;
	&.search {
		color: $primaryBase;
	}
}

.inputWrapper {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid $neutral600;
	border-radius: $radiusSmall;
	&.search {
		justify-content: flex-start;
	}
	&:hover {
		border: 2px solid $neutral600;
	}
	&:focus {
		border: 2px solid $primaryBase;
	}
}

.inputIconWrapper {
	& > svg {
		--color: #{$neutral600};
	}
	&.search {
		& > svg {
			--color: #{$primaryBase};
		}
		margin-left: $gapSmall;
	}
}

.error {
	border: 2px solid $errorBase;
}

.sucess {
	border: 2px solid $successBase;
}

.closeIcon {
	& > svg {
		--color: #{$primaryBase};
	}
}
