@import 'src/styles/variables';

.wrapper {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: $gapXSmall;

	border-radius: $radiusXSmall;

	&.tempFeeling {
		background: #ffd8f4;
	}

	&.brightness {
		background: #c8d7eb;
	}

	&.noise {
		background: #f9eba1;
	}

	&:not(:last-child) {
		margin-right: $gapSmall;
	}
}

.picto {
	--size: 20px;
}

.label {
	font-size: 12px;

	@include media('>tablet') {
		font-size: 14px;
	}
}
