@import 'src/styles/variables';

.wrapper {
	position: relative;

	max-width: 1440px;
	margin: 0 auto;

	@include media('>tablet') {
		display: grid;
		grid-template-columns: max(18%, 256px) 1fr;
	}
}

.page {
	@include grid;

	@include media('>tablet') {
		margin-top: 54px;
	}
}

.header {
	@include media('>tablet') {
		grid-column: 1/2;
	}
}

.footer {
	position: fixed;
	top: 0;
	left: 0;
	min-height: -webkit-fill-available;
	width: 100vw;
	z-index: 1000;
	@include media('>tablet') {
		display: none;
	}
}

// .footer-container {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	pointer-events: none;
// }

.navigation {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	pointer-events: all;
}
