@import 'src/styles/variables';

.section {
	grid-column: 1/3;
	margin-bottom: 40px;

	@include media('>tablet') {
		grid-column: 1/5;
	}
}

.title {
	@include title-big;

	margin-bottom: $gapMedium;
}

.filter-room-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: $gapBase;
	column-gap: $gapBase;

	@include media('>tablet') {
		display: flex;
	}
}

.no-favorite {
	font-size: 18px;
	line-height: 1.4;
}

.help {
	margin-top: $gapSmall;
	font-size: 16px;
	line-height: 1.4;
}
