@import 'src/styles/variables';

.infoWrapper {
	display: flex;
	align-items: center;
	margin-bottom: $gapSmall;

	& > svg {
		margin-right: $gapXsmall;
		--picto-size: 12px;
	}
	.error {
		--color: #{$errorBase};
	}
	.success {
		--color: #{$successBase};
	}
}

.error {
	font-family: $lufga;
	font-size: 14px;
	color: $errorBase;
}

.success {
	font-family: $lufga;
	font-size: 14px;
	color: $successBase;
	margin-bottom: $gapSmall;
	text-transform: capitalize;
}

.infoWrapper {
	display: flex;
	& > svg {
		margin-right: $gapXSmall;
	}
	.error {
		--color: #{$errorBase};
	}
	.success {
		--color: #{$successBase};
	}
}
