@import 'src/styles/variables';

.input {
	height: 46px;
	width: 100%;
	padding: 12px $gapSmall;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: $radiusSmall;
	::placeholder {
		color: $neutral600;
	}
	color: $neutralBlack;
	font-size: 16px;
	&.search {
		color: $primaryBase;
	}
}

.inputWrapper {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border: 1px solid $neutral600;
	border-radius: $radiusSmall;
	&.search {
		justify-content: flex-start;
	}
	&:hover {
		border: 2px solid $neutral600;
	}
	&:focus {
		border: 2px solid $primaryBase;
	}
}

.label {
	font-family: $lufga;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	color: $neutral800;
	margin-bottom: $gapSmall;
}

.infoWrapper {
	display: flex;
	& > svg {
		margin-right: $gapXsmall;
	}
	.error {
		--color: #{$errorBase};
	}
	.success {
		--color: #{$successBase};
	}
}

.error {
	border: 2px solid $errorBase;
}

.sucess {
	border: 2px solid $successBase;
}

.closeIcon {
	& > svg {
		--color: #{$primaryBase};
	}
}
