@import 'src/styles/variables';

.input {
	height: 46px;
	width: 100%;
	padding: 12px $gapSmall;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: $radiusSmall;
	box-sizing: border-box;
	background: white;
	border: 1px $neutral200 solid;

	&:focus-within {
		border-width: 2px;
		padding: 11px 7px;
	}

	color: $neutralBlack;
	font-size: 16px;
	&.search {
		color: $primaryBase;
	}
}

.inputWrapper {
	position: relative;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	border-radius: $radiusSmall;
	&.search {
		justify-content: flex-start;
	}
}

.label {
	font-family: $lufga;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	color: $neutral800;
	margin-bottom: $gapSmall;
}

.infoWrapper {
	display: flex;
	& > svg {
		margin-right: $gapXSmall;
	}
	.error {
		--color: #{$errorBase};
	}
	.success {
		--color: #{$successBase};
	}
}

.error {
	border: 2px solid $errorBase;
}

.sucess {
	border: 2px solid $successBase;
}

.closeIcon {
	& > svg {
		--color: #{$primaryBase};
	}
}
